
/* main from liepu */

.top {
	height: 90px;
	background: url('http://www.liepu.lv/css/img/top1.png');
}

.logo {
	padding: 17px 0 0 4px;
}

.languages {
	position: absolute;
	top: 14px;
	right: 4px;
	color: #fff;
}

.languages .item {
	float: left;
	margin: 0 0 0 15px;
	text-transform: uppercase;
}

.social {
	position: absolute;
	top: 21px;
	right: 4px;
}

.social .item {
	float: left;
	margin: 0 0 0 7px;
}

.social .item a {
	height: 20px;
	width: 20px;
	display: block;
	background: url(http://www.liepu.lv/css/img/social.png) no-repeat;
}

.social .fb a {
  background-position: -20px 0px;
}

.social .tw a {
	background-position: -40px 0px;
}

.social .skyp a {
	background-position: -60px 0px;
}

.social .rss a {
	background-position: -80px 0px;
}

.social .mail a {
	background-position: -100px 0px;
}

.social .sitemap a {
	margin-left: 3px;
	background-position: -120px 0px;
}

/* end main liepu */

a#logo{	 
	font-size: 20px;
}

.liepu {
	background: url('http://www.liepu.lv/css/img/top1.png');
}

.navbar-default .navbar-brand {
	width: 230px;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

#kontakti .box {
	background-color: #222;
	color: #999;
}
